*{
    box-sizing: border-box;
}
header{
    background-color: #666;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 35px;
    }
    section{
        display: -webkit-box;
        display: flex;
    }
    nav{
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background: #ccc;
        padding: 20px;
            }
    nav ul{
        list-style-type: none;
        padding: 0px;

    }
    article{
        -webkit-flex:3;
        -ms-flex: 3;
        flex: 3;
        background-color: white;
        padding: 10px;
        text-align: justify;
    }
    footer{
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
    }
    
    div{
        background-color: #689;
        width:400px;
        height: 400px;
        padding: 5px;
        margin: 5px;
        box-shadow: 0px 4px 8px 0px rgb(126, 123, 126);
        transition: 0.3s  ease-in-out;
        border-radius: 10px;
       
         }
         div:hover{
            box-shadow: 0px 4px 8px 0px rgb(116, 31, 59);
         }
    @media(max-width:-600px){
        section{
            -webkit-flex-direction:colomn;
            flex-direction: row;
        }
    }